
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    color : red;
}

.active {
    font-weight :bold;
}

.navigation h1 {
    text-align: center;
}